.element1 {
  background-image: linear-gradient(
    119deg,
    #00144f 10%,
    #004e7b 35%,
    #0b7589 57%,
    #1ac5bf 83%,
    #2efef2
  );

  > img {
    left: 40px;
    pointer-events: none;
    position: absolute;
    top: 40px;
  }
}

.element2 {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 25px -5px rgba(0, 0, 0, 0.15);
  padding: 48px;
  position: relative;
  width: 424px;

  &-title {
    color: #0c1831;
    pointer-events: none;
    user-select: none;
    font-family: Hellix;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1.17;
    margin-bottom: 24px;
  }

  &-input {
    border: 1px solid #e4e5e7;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Roobert;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 12px 8px 3px 15px;
    position: relative;

    &:hover {
      border-color: #717782;
    }

    &-focused {
      border-color: #7d53f8;

      .element2-input-label {
        color: #7a4dff;
      }
    }

    &-label {
      color: #0c1831;
      font-size: 11px;
      letter-spacing: 1.2px;
      line-height: 1.45;
      pointer-events: none;
      text-transform: uppercase;
      user-select: none;
    }

    section {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
    }

    input {
      appearance: none;
      border: 0;
      caret-color: #7a4dff;
      color: #0c1831;
      flex: 1 1;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      margin: 2px 0.5em 6px 0;
      outline: 0;
      padding: 0;
    }

    &-password-toggle {
      align-items: center;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 50%;
      color: #b3b6bb;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      height: 32px;
      justify-content: center;
      margin: -3px 4px 3px;
      outline: 0;
      padding: 0;
      width: 32px;

      &-active {
        color: #0c1831;
      }
    }
  }

  &-button {
    align-items: center;
    appearance: none;
    background-color: #a7f5ef;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0c1831;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: Roobert;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.3;
    margin: 28px 0 24px;
    outline: 0;
    padding: 14px 12px;
    text-align: center;
    transition: opacity 0.12s ease;
    width: 100%;

    &-disabled {
      background-color: #f7f7f8;
      color: #b3b6bb;
      cursor: default;
      pointer-events: none;
    }

    &-password {
      background-color: transparent;
      color: #7a4dff;
      margin: -12px 0 16px;

      &:hover {
        color: #0c1831;
      }
    }
  }

  &-tos {
    color: #717782;
    font-size: 11px;
    letter-spacing: 0.2px;
    font-family: Roobert;
    line-height: 1.5;
    margin-bottom: -1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
